@model Task<WebComicXKCD.ViewModels.ComicVM>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    
    <h2>@Model.Result.title</h2>
    <img src="@Model.Result.img" alt="@Model.Result.alt"/>
    <p>@Model.Result.alt</p>
   
        <a class="btn btn-link">Previous</a>
   
</div>
